<% provide(:title, 'Users') %>
<h1>Users</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Created<th>
  </tr>

  <% @users.order('name').each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New User', new_user_path, class: "btn btn-lg btn-primary" %>
