<table>
  <tr>
    <th>Balance</th>
    <th>Updated</th>
    <th>Note</th>
  </tr>
  <% @account.balances.order("created_at desc").each do |balance| %>
    <tr>
      <td><%= balance.estimate? ? "~" + number_to_currency(balance.value) : number_to_currency(balance.value) %></td>
      <td><%= balance.created_at.strftime("%m/%d/%Y %I:%m%P") %></td>
      <td><%= balance.note %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Balance', new_user_account_balance_path(current_user_id, @account.id), class: "btn btn-lg btn-primary" %>
