<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>
<p>
  <strong>Category:</strong>
  <%= @account.category.name %>
</p>
<p>
  <strong>Active:</strong>
  <%= @account.active %>
</p>
<p>
  <strong>Note:</strong>
  <%= @account.note %>
</p>
